p {
  margin: 10px 0 10px 20px;
}
.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 600px;
}
table th {
  vertical-align: top;
  width: 25%;
  text-align: left;
}
table th span {
  display: inline-block;
  margin-top: 10px;
}
table th p {
  margin-top: 10px;
  margin-left: 0px;
}
table td {
  width: 75%;
}
.content-inner {
  padding: 5px;
  vertical-align: bottom
}
.name {
  display: flex;
  justify-content: space-between;
}
.input-name {
  width: 45%;
}
.input-text {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #CCC;
}
.input-radio {
  width: 20px;
  height: 20px;
  padding: 10px;
}
.input-radio-label {
  vertical-align: middle;
}
.feedback {
  height: 100px;
}
.example {
  font-size: 14px;
  color: #555;
}
.required::after {
  content: "※";
  color: #F00;
  font-size: small;
  vertical-align:baseline;
}
.button {
  display: block;
  background-color: #000;
  color: #FFF;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  width: 120px;
  height: 40px;
  margin: 30px auto 10px;
}
.input-error-message{
  display: inline-block;

}
